.main_container {
    display: flex;
    flex-direction: column;
    height: 300px;
    border: 1px solid rgb(0, 0, 0);

}

.list {
    background: rgb(186, 231, 232);
    margin: 10px;

    &:nth-child(odd) {
        background-color: rgb(112, 201, 203)
    }
}