.main_container {
    padding: 25px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(0, 0, 0);
}

.header {
    flex: 2;
    background-color: rgb(50, 50, 50);

}

.tv_show_detail {
    flex: 4;
    background-color: rgb(0, 0, 255);

}

.recommended_tv_show {
    flex: 2;
    background-color: rgb(0, 255, 0);
}